.venta-layout{
  display: grid;
  width: 100%;
  grid-template-areas: "cliente  boleta  boleta"
                       "detalle boleta boleta";
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr auto;
}

@media screen and (max-width: 600px) {
  .venta-layout{
    grid-template-areas: "cliente "
                         "detalle"
                         "boleta";
    grid-template-columns: 100% 1fr;
    grid-template-rows: 1fr auto;
  }
}


