<div class=" p-4 w-full max-w-2xl  m-auto">
  <div id="alert-1" class="flex items-center p-4 mb-4 border border-{{respuesta.colorAlerta}}-300 text-{{respuesta.colorAlerta}}-800 rounded-lg bg-{{respuesta.colorAlerta}}-50 dark:bg-{{respuesta.colorAlerta}}-800 dark:text-{{respuesta.colorAlerta}}-400" role="alert" *ngIf="respuesta.mensaje">
     <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
     </svg>
     <span class="sr-only">Info</span>
     <div class="ms-3 text-sm font-medium">
        <span class="font-medium">¡Mensaje!</span> {{respuesta.mensaje}}
     </div>
     <button (click)="respuesta.mensaje=''" type="button" class="ms-auto -mx-1.5 -my-1.5 bg-{{respuesta.colorAlerta}}-50 text-{{respuesta.colorAlerta}}-500 rounded-lg focus:ring-2 focus:ring-{{respuesta.colorAlerta}}-400 p-1.5 hover:bg-{{respuesta.colorAlerta}}-200 inline-flex items-center justify-center h-8 w-8 dark:bg-{{respuesta.colorAlerta}}-800 dark:text-{{respuesta.colorAlerta}}-400 dark:hover:bg-{{respuesta.colorAlerta}}-700">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
     </button>
  </div>
  <!-- Modal content -->
  <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
     <!-- Modal header -->
     <div class="flex justify-center items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white text-center">
           Cerrar periodo caja
        </h3>
     </div>
     <p class=" text-gray-800 dark:text-white mb-4 text-center">Por favor, registra la cantidad de billetes según la denominación que hayas recibido durante el periodo de caja.</p>
     <div class="grid gap-4 mb-4 grid-cols-2">
        <div class=" flex justify-center items-center">
           <i class="bi bi-cash  text-gray-800 dark:text-white mx-2"></i>
           <h4 class="text-lg font-normal text-gray-900 dark:text-white  text-center">
              Billetes
           </h4>
        </div>
        <div class="  flex justify-center items-center ">
           <i class="bi bi-coin text-gray-800 dark:text-white mx-2"></i>
           <h4 class="text-lg font-normal text-gray-900 dark:text-white col-span-2 text-center">
              Monedas
           </h4>
        </div>
        <div *ngFor="let denominacion of denominaciones" class="grid grid-cols-2 gap-4 items-center ">
          <input type="number" name="{{denominacion.nombre}}" id="{{denominacion.nombre}}" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" min="0" required="" [(ngModel)]="cantidadBilletes[denominacion.nombre]" (input)="calcularTotal()">
        <label for="{{denominacion.nombre}}" class="  mb-2 text-sm font-medium items-center flex text-gray-900 dark:text-white">{{denominacion.nombre }}</label>
        </div>

        <button type="button" (click)="limpiarInputs()" class="flex w-2/3 items-center justify-center text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">
          <svg class="h-3.5 w-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1M2 5h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
         </svg>
         Limpiar
       </button>

     </div>
     <!-- Modal body -->
     <form class="needs-validation" novalidate (ngSubmit)="cerrarCaja()"
     [formGroup]="form">
     <div class="grid gap-4 mb-4 sm:grid-cols-2">
        <div class="hidden">
           <input type="number" name="idCaja" id="idCaja" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" min="0" required="" formControlName="idCaja">
        </div>
        <div>
           <label for="montoCierre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total cierre:</label>
           <input type="number" readonly name="montoCierre" id="montoCierre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{montoActual}} CLP" min="0" required value="{{total}}" formControlName="montoCierre">
        </div>
        <div class="sm:col-span-2">
           <label for="comentarios" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comentarios:</label>
           <textarea id="comentarios" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Escriba una descripción del producto aqui" formControlName="comentarios"></textarea>
        </div>
     </div>
     <button type="submit" class="text-white inline-flex items-center bg-cyan-700 hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-800">
        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
        </svg>
        Iniciar Caja
     </button>
     </form>
  </div>
</div>
