<div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
  <div id="alert-1" class="flex items-center p-4 mb-4 border border-{{colorAlerta}}-300 text-{{colorAlerta}}-800 rounded-lg bg-{{colorAlerta}}-50 dark:bg-{{colorAlerta}}-800 dark:text-{{colorAlerta}}-400" role="alert" *ngIf="mensaje">
     <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
     </svg>
     <span class="sr-only">Info</span>
     <div class="ms-3 text-sm font-medium">
        <span class="font-medium">¡Mensaje!</span> {{mensaje}}
     </div>
     <button (click)="mensaje=''" type="button" class="ms-auto -mx-1.5 -my-1.5 bg-{{colorAlerta}}-50 text-{{colorAlerta}}-500 rounded-lg focus:ring-2 focus:ring-{{colorAlerta}}-400 p-1.5 hover:bg-{{colorAlerta}}-200 inline-flex items-center justify-center h-8 w-8 dark:bg-{{colorAlerta}}-800 dark:text-{{colorAlerta}}-400 dark:hover:bg-{{colorAlerta}}-700">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
     </button>
  </div>
  <!-- Modal content -->
  <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
     <!-- Modal header -->
     <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
           Nueva Categoria
        </h3>
     </div>
     <!-- Modal body -->
     <form class="needs-validation" novalidate (ngSubmit)="crearCategoria()"
     [formGroup]="form">
     <div class="grid gap-4 mb-4 sm:grid-cols-2">
        <div>
           <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Categoria:</label>
           <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ejemplo: Computación" required="" formControlName="nombreCategoria">
        </div>
        <div class="sm:col-span-2">
           <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción:</label>
           <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Escriba una descripción del producto aqui" formControlName="descripcion"></textarea>
        </div>
     </div>
     <button type="submit" class="text-white inline-flex items-center bg-cyan-700 hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-800">
        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
        </svg>
        Agregar Categoria
     </button>
     </form>
  </div>
</div>
